<%- include("partials/header",{id:id ? id:null, record: record ? record : null})
%>

<!-- <head>
  <link rel="stylesheet" href="/stylesheets/personaldetails.css" />
</head> -->

<div class="container mx-auto my-5">
  <div class="mx-auto my-3 text-center">
    <h2>Customer Personal Details</h2>
  </div>
  <table class="w-75 mx-auto text-center my-5 table">
    <tbody>
      <tr class='mx-auto my-3'>
        <th scope="row">Name</th>
        <td><%= record.name %></td>
      </tr>
      <%if(record.address !=null) {%>
      <tr class='mx-auto my-3'>
        <th scope="row">Address</th>
        <td><%= record.address %></td>
      </tr>
      <%}%> <%if(record.Mobileno1 !=null) {%>
      <tr class='mx-auto my-3'>
        <th scope="row">Mobile No.1</th>
        <td><%= record.Mobileno1 %></td>
      </tr>
      <%}%> <%if(record.Mobileno2 !=null) {%>
      <tr class='mx-auto my-3'>
        <th scope="row">Mobile No.2</th>
        <td><%= record.Mobileno2 %></td>
      </tr>
      <%}%> <%if(record.Phoneno !=null) {%>
      <tr class='mx-auto my-3'>
        <th scope="row">Phone No.</th>
        <td><%= record.Phoneno %></td>
      </tr>
      <%}%> <%if(record.gender !=null) {%>
      <tr class='mx-auto my-3'>
        <th scope="row">Gender</th>
        <td><%= record.gender %></td>
      </tr>
      <%}%>
      <tr class='mx-auto my-3'>
        <th scope="row">Email ID</th>
        <td><%= record.email %></td>
      </tr>
    </tbody>
  </table>
</div>

<%- include("partials/footer") %>
