<%- include("partials/header") %>

<style>
    table,td,th {
        border: 2px solid black;
    }
</style>

<ul> 
    <li><a href="/view">View Account Details</a></li>
    <li><a onclick="logout()" href="/login">Logout</a></li>
</ul>
 
<table>
    <tr>
        <th>Name:</th>
        <td><%= record.name %></td>
    </tr>
    <tr>
        <th>Address:</th>
        <td><%= record.address %></td>
    </tr>
    <tr>
        <th>Mobile No.1:</th>
        <td><%= record.Mobileno1 %></td>
    </tr>
    <tr>
        <th>Mobile No.2:</th>
        <td><%= record.Mobileno2 %></td>
    </tr>
    <tr>
        <th>Phone No.:</th>
        <td><%= record.Phoneno %></td>
    </tr>
    <tr>
        <th>Gender:</th>
        <td><%= record.gender %></td>
    </tr>
    <tr>
        <th>Email ID:</th>
        <td><%= record.email %></td>
    </tr>
</table> 

    

<script>
    function logout() { 
        signal = 0; 
    }
</script>

<%- include("partials/footer") %> 
