<%- include("partials/header") %>

<style>
    table,td,th {
        border: 2px solid black;
    }
</style>


<div class="container">
    <button class="buttons" click="logout()" onclick="window.location.href='/'"><strong>Log Out</strong></button>
    <button class="buttons"><strong>Hi <%= record.name %>!</strong></button>

    <table>
        <tr>
            <th>S.No.</th>
            <th>Amount</th>
            <th>Type of Transaction</th>
            <th>Date and Time</th>
        </tr>
    
             
            <%var i,j,count=0;%>
    
                <%for(j=0;j<Account.transactions.length; j++){%>
                <tr>      
                    <td> <%count=count+1%>
                         <%=count%></td>
                    <td><%=Account.transactions[j].amount%></td>
                    <td><%=Account.transactions[j].typeOftransac%></td>
                    <td><%var day = Account.transactions[j].dateANDtime.getDate()%>
                        <%var month = Account.transactions[j].dateANDtime.getMonth()%>
                        <%var year = Account.transactions[j].dateANDtime.getFullYear()%>
                        <%=day + "-" + month + "-" + year%></td>
                </tr>
                <%}%>
  </div>

    

<%- include("partials/footer") %>