<%- include("partials/header",{id:id ? id:null, record: record ? record : null}) %>
<!-- 
    <head>
        <link rel="stylesheet" href="/stylesheets/view.css">
    </head> -->

    <div class="container mx-auto my-5">
        <div class="mx-auto text-center my-3">
            <h3 style="color: green;">Customer Transaction History</h3>
        </div>
        <div class="mx-auto text-center my-3">
            <h3>Account Balance : Rs. <span style="color: red;">
                    <%=Account.total_amount%>
                </span></h3>
        </div>
        <%if(Account.transactions.length) {%>
            <table class="w-75 mx-auto text-center my-3">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type of Transaction</th>
                        <th scope="col">Date and Time</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(j=0;j<Account.transactions.length; j++){%>
                        <tr>
                            <th scope="row">
                                <%=(j+1)%>
                            </th>
                            <td>
                                <%=Account.transactions[j].amount%>
                            </td>
                            <td>
                                <%=Account.transactions[j].typeOftransac%>
                            </td>
                            <td>
                                <%var day=Account.transactions[j].dateANDtime.getDate()%>
                                <%var month=Account.transactions[j].dateANDtime.getMonth()%>
                                <%var year=Account.transactions[j].dateANDtime.getFullYear()%>
                                <%let hours = Account.transactions[j].dateANDtime.getHours() %>
                                <%let minutes = Account.transactions[j].dateANDtime.getMinutes() %>
                                <%=day + "-" + month + "-" + year + " " + hours + ":" + minutes %>
                            </td>
                        </tr>
                </tbody>
            </table>
            <%}%>
                <%} else {%>
                    <h4 style="color: green; margin: 5rem auto;">No transaction history found!!</h4>
                    <%}%>
    </div>

    <%- include("partials/footer") %>